extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='/') Network
      button.navbar-toggler(type='button',data-bs-toggle='collapse',data-bs-target='#navbarNav',aria-controls='navbarNav',aria-expanded='false',aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(aria-current='page',href='/') Home
          if is_admin
            li.nav-item
              a.nav-link.active(href='/admin') Admin
          li.nav-item
            a.nav-link(href='/post') Create Post
          li.nav-item
            a.nav-link(href='/group') Create Group
          li.nav-item
            a.nav-link(href='/groups') Groups
      form.d-flex(action='/users/logout',method='post')
        button.btn.btn-outline-success(type='submit') Logout

  div.container
    div.row(class="marginVertical")
      if users.length > 0
        h2 Users
        table.table.table-striped
          tr
            th Username 
            th Name 
            th Approve
            th Delete
          for user in users
            tr 
              td #{user.USERNAME} 
              td #{user.NAME}
                if rootUser.USERNAME != user.USERNAME
                  if user.STATUS === 'NEW'
                    td
                      form.inline.marginHorizontal(action='/users/approve',method='post')
                        input.hidden(id='username', class="col-md-4",type='text',value='#{user.USERNAME}',name='username')
                        input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                        button.btn.btn-outline-success(type='submit') Approve
                      form.inline.marginHorizontal(action='/users/approve',method='post')
                        input.hidden(id='username', class="col-md-4",type='text',value='#{user.USERNAME}',name='username')
                        input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                        button.btn.btn-outline-danger(type='submit') Decline
                  else if user.STATUS === 'ACTIVE'
                    td Approved
                  else 
                    td Declined
                else 
                  td
              td 
                if rootUser.USERNAME != user.USERNAME
                  if user.STATUS === 'INACTIVE'
                    form.d-flex(action='/users/approve',method='post')
                      input.hidden(id='username', class="col-md-4",type='text',value='#{user.USERNAME}',name='username')
                      input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                      button.btn.btn-outline-success(type='submit') Activate
                  else 
                    form.d-flex(action='/users/approve',method='post')
                      input.hidden(id='username', class="col-md-4",type='text',value='#{user.USERNAME}',name='username')
                      input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                      button.btn.btn-outline-danger(type='submit') Deactivate
  
  div.container
    div.row(class="marginVertical")
      if posts.length > 0
        h2 Posts
        table.table.table-striped
          tr
            th ID 
            th Name
            th Text Content 
            th File 
            th By 
            th Approve
            th Delete
          for post in posts
            tr 
              td #{post.POST_ID} 
              td #{post.POST_NAME} 
              td #{post.CONTENT}
              td #{post.FILE}
              td #{post.CREATED_BY}
              
                if post.STATUS === 'PENDING'
                  td
                    form.inline.marginHorizontal(action='/files/approvePost',method='post')
                      input.hidden(id='post_id', class="col-md-4",type='text',value='#{post.POST_ID}',name='post_id')
                      input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                      button.btn.btn-outline-success(type='submit') Approve
                    form.inline.marginHorizontal(action='/files/approvePost',method='post')
                      input.hidden(id='post_id', class="col-md-4",type='text',value='#{post.POST_ID}',name='post_id')
                      input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                      button.btn.btn-outline-danger(type='submit') Decline
                else if post.STATUS === 'ACTIVE'
                  td Approved
                else 
                  td Declined
              td 
                if post.STATUS === 'INACTIVE'
                  form.d-flex(action='/files/approvePost',method='post')
                    input.hidden(id='post_id', class="col-md-4",type='text',value='#{post.POST_ID}',name='post_id')
                    input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                    button.btn.btn-outline-success(type='submit') Activate
                else 
                  form.d-flex(action='/files/approvePost',method='post')
                    input.hidden(id='post_id', class="col-md-4",type='text',value='#{post.POST_ID}',name='post_id')
                    input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                    button.btn.btn-outline-danger(type='submit') Deactivate

  div.container
    div.row(class="marginVertical")
      if groups.length > 0
        h2 Groups
        table.table.table-striped
          tr
            th ID 
            th NAME
            th By 
            th Approve
            th Delete
          for group in groups
            tr 
              td #{group.GROUP_ID} 
              td #{group.NAME}
              td #{group.CREATED_BY}
                if group.STATUS === 'PENDING'
                  td
                    form.inline.marginHorizontal(action='/files/approveGroup',method='post')
                      input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                      input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                      button.btn.btn-outline-success(type='submit') Approve
                    form.inline.marginHorizontal(action='/files/approveGroup',method='post')
                      input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                      input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                      button.btn.btn-outline-danger(type='submit') Decline
                else if group.STATUS === 'ACTIVE'
                  td Approved
                else 
                  td Declined
              td 
                if group.STATUS === 'INACTIVE'
                  form.d-flex(action='/files/approveGroup',method='post')
                    input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                    input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                    button.btn.btn-outline-success(type='submit') Activate
                else 
                  form.d-flex(action='/files/approveGroup',method='post')
                    input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                    input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                    button.btn.btn-outline-danger(type='submit') Deactivate


