extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='/') Network
      button.navbar-toggler(type='button',data-bs-toggle='collapse',data-bs-target='#navbarNav',aria-controls='navbarNav',aria-expanded='false',aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(aria-current='page',href='/') Home
          if is_admin
            li.nav-item
              a.nav-link(href='/admin') Admin
          li.nav-item
            a.nav-link(href='/post') Create Post
          li.nav-item
            a.nav-link(href='/group') Create Group
          li.nav-item
            a.nav-link.active(href='/groups') Groups
      form.d-flex(action='/users/logout',method='post')
        button.btn.btn-outline-success(type='submit') Logout

  div.container
    div.row(class="marginVertical")
      if groups.length > 0
        h2 Groups
        for group in groups
          .row.marginVerticalLarge 
            h3 #{group.GROUP_NAME}
            if group.GROUP_STATUS === 'ACTIVE' 
              if group.MEMBERS.length > 0
                table.table.table-striped
                  tr
                    th Member
                    th Status
                    th Action 
                  for member in group.MEMBERS 
                    tr 
                      td #{member.MEMBER}
                      td #{member.MEMBER_STATUS}
                      td
                        if user.USERNAME != member.MEMBER
                          if member.MEMBER_STATUS === 'PENDING'
                            form.inline.marginHorizontal(action='/files/approveGroupAccess',method='post')
                              input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                              input.hidden(id='memberId', class="col-md-4",type='text',value='#{member.MEMBERSHIP_ID}',name='memberId')
                              input.hidden(id='state', class="col-md-4",type='text',value='approve',name='state')
                              button.btn.btn-outline-success(type='submit') Accept
                            form.inline.marginHorizontal(action='/files/approveGroupAccess',method='post')
                              input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                              input.hidden(id='memberId', class="col-md-4",type='text',value='#{member.MEMBERSHIP_ID}',name='memberId')
                              input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                              button.btn.btn-outline-danger(type='submit') Reject
                          else if member.MEMBER_STATUS === 'ACTIVE'
                            form.inline.marginHorizontal(action='/files/approveGroupAccess',method='post')
                              input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                              input.hidden(id='memberId', class="col-md-4",type='text',value='#{member.MEMBERSHIP_ID}',name='memberId')
                              input.hidden(id='state', class="col-md-4",type='text',value='decline',name='state')
                              button.btn.btn-outline-danger(type='submit') Remove
                          else if member.MEMBER_STATUS === 'INACTIVE'
                            p Removed


              else 
                p No other members
            else if group.GROUP_STATUS === 'PENDING'
              p Waiting for Admin approval
            else if group.GROUP_STATUS === 'INACTIVE'
              p Group Deleted by Admin
            



