extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='/') Network
      button.navbar-toggler(type='button',data-bs-toggle='collapse',data-bs-target='#navbarNav',aria-controls='navbarNav',aria-expanded='false',aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(aria-current='page',href='/') Home
          if is_admin
            li.nav-item
              a.nav-link(href='/admin') Admin
          li.nav-item
            a.nav-link(href='/post') Create Post
          li.nav-item
            a.nav-link(href='/group') Create Group
          li.nav-item
            a.nav-link(href='/groups') Groups
      form.d-flex(action='/users/logout',method='post')
        button.btn.btn-outline-success(type='submit') Logout
  div.container
    div.row(class="marginVertical")
      div.col-8
        if posts.length > 0
          h3 Posts
          for post in posts
            
              div.marginVertical.image
                div.right.marginVertical
                  if post.FILE != ''
                    form.inline.marginHorizontal(action='/files/download/#{post.FILE}',method='post')
                      button.btn.btn-outline-primary(type='submit') Download
                  if user.USERNAME === post.CREATED_BY
                    form.inline.marginHorizontal(action='/files/delete',method='post')
                    
                      input.hidden(id='postId', class="col-md-4",type='text',value='#{post.POST_ID}',name='postId')
                      button.btn.btn-outline-danger(type='submit') Delete
                if post.FILE != ''
                  if post.FILE.toUpperCase().includes(".PNG") || post.FILE.toUpperCase().includes(".JPG")
                    img.image( src='/files/file/#{post.FILE}' )

                  else if post.FILE.toUpperCase().includes(".MP4")
                    video(width='320',height='240',controls='')
                      source(src='/files/file/#{post.FILE}',type='video/mp4')
                      | Your browser does not support the video tag.

                  else
                    div.image
                      p.card-text Uploaded File
                      h5.card-title #{post.FILE}


                div.image.card
                  .card-body
                    h5.card-title #{post.CREATED_BY}
                    h6.card-title Name: #{post.POST_NAME}
                    if post.NAME
                      h6.card-title Group: #{post.NAME}
                    p.card-text #{post.CONTENT}
                  p
                
              hr
      div.col-4

          if groups.length > 0
            h3 Groups
            
            for group in groups
              div.marginHorizontal.marginVerticalLarge
                h4.inline #{group.NAME}
                if group.MEMBER === user.USERNAME
                  if group.STATUS === 'PENDING'
                    p.card-text(style="float: right; margin-top: 7px") Requested
                  else if group.STATUS === 'ACTIVE' && group.CREATED_BY === user.USERNAME
                    p.card-text(style="float: right; margin-top: 7px") Group Owner
                  else if group.STATUS === 'ACTIVE'
                    p.card-text(style="float: right; margin-top: 7px") Joined
                  else
                    form.inline(style="float: right",action='/files/requestGroupAccess',method='post')
                      input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                      button.btn.btn-outline-success(type='submit') Request to join
                else 
                  form.inline(style="float: right; ",action='/files/requestGroupAccess',method='post')
                    input.hidden(id='groupId', class="col-md-4",type='text',value='#{group.GROUP_ID}',name='groupId')
                    button.btn.btn-outline-success(type='submit') Request to join

