doctype html
html
    head
        title Network
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='apple-touch-icon',sizes='180x180',href='/apple-touch-icon.png')
        link(rel='icon',type='image/png',sizes='32x32',href='/favicon-32x32.png')
        link(rel='icon',type='image/png',sizes='16x16',href='/favicon-16x16.png')
        link(rel='manifest',href='/site.webmanifest')

        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='/js/functions.js')
    body
        block content