extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='/') Network
      button.navbar-toggler(type='button',data-bs-toggle='collapse',data-bs-target='#navbarNav',aria-controls='navbarNav',aria-expanded='false',aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(aria-current='page',href='/') Home
          if is_admin
            li.nav-item
              a.nav-link(href='/admin') Admin
          li.nav-item
            a.nav-link.active(href='/post') Create Post
          li.nav-item
            a.nav-link(href='/group') Create Group
          li.nav-item
            a.nav-link(href='/groups') Groups
      form.d-flex(action='/users/logout',method='post')
        button.btn.btn-outline-success(type='submit') Logout
  
  div.container
    div.row(class="marginVertical")
      h2 Create Post
      div
        form(action='/files/post', enctype="multipart/form-data", method='post')
          div(data-role='fieldcontain', class="marginVertical")
            fieldset(data-role='controlgroup')
              label(for='name', class="col-md-4") Name
              input(id='name', class="col-md-4",type='text',value='',name='name',onkeypress="return checkSpcialChar(event)",onchange="removeChar(this)")
          div(data-role='fieldcontain', class="marginVertical")
            fieldset(data-role='controlgroup')
              label(for='content', class="col-md-4") Content
              input(id='content', class="col-md-4",type='text',value='',name='content',onchange="removeChar(this, 'false')")
          div(data-role='fieldcontain', class="marginVertical")
            fieldset(data-role='controlgroup')
              label(for='file', class="col-md-4") File
              input(id='file', class="col-md-4",type='file',value='',name='file')
          div(data-role='fieldcontain', class="marginVertical")
            fieldset(data-role='controlgroup')
              label(for='group', class="col-md-4") Group
              select(id='group',class="col-md-4",value='',name='group')
                option( value = "" ) #{''}
                for group in myGroups
                  option( value = "#{group.GROUP_ID}" ) #{group.NAME}
          div(data-role='fieldcontain', class="marginVertical")   
            input(type='submit', class="col-md-8", value='Create Post',data-transition='fade', data-theme='c')
        hr


